@using PharmaStoreWeb.Helpers
@model PharmaStoreWeb.Models.Core.OperationResult<PharmaStoreWeb.Models.Medicines.Medicine>;
@{
    ViewData["Title"] = "GetMedicine";
}
<div>
    <a class="back" href="@Url.Action("Index")">Powrót</a>
</div>
<div class="text-center">
    @if (Model.IsSuccess)
    {
        <h1 class="display-4">Szczegóły leku</h1>
        <table class="table-det">
            <tr>
                <td class="head-itm title">Nazwa</td>
                <td>@Model.Result.Items.Name</td>
            </tr>
            <tr>
                <td class="head-itm title">Typ</td>
                <td>@Model.Result.Items.MedicineTypeName</td>
            </tr>
            <tr>
                <td class="head-itm title">Opakowanie</td>
                <td>@Model.Result.Items.ContentQuantity</td>
            </tr>
            <tr>
                <td class="head-itm title">Producent</td>
                <td>@Model.Result.Items.Producer</td>
            </tr>
            <tr>
                <td class="head-itm title">Cena</td>
                <td>@GlobalHelpers.ParsePriceWithCurrency(Model.Result.Items.Price.ToString(), "zł")</td>
            </tr>
        </table>
        <table class="table-det">
            <tr class="desc">
                <td class="head-itm title desc">Opis</td>
            </tr>
            <tr>
                <td>@Model.Result.Items.Description</td>
            </tr>
        </table>
    }
    else
    {
        <h1 class="display-4">Wystąpił błąd</h1>
        foreach (var error in Model.Errors)
        {
            <div>@error.Message</div>
        }
    }
</div>
<link rel="stylesheet" type="text/css" href="~/css/custom.css">