@using PharmaStoreWeb.Helpers
@model PharmaStoreWeb.Models.Core.OperationResult<IEnumerable<PharmaStoreWeb.Models.Medicines.MedicineHeader>>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if (Model.IsSuccess)
    {
        <h1 class="display-4">Lista leków</h1>
        <table class="page-width table-lin" id="medicineList">
            <tr>
                <th>Producent</th>
                <th>Nazwa</th>
                <th>Pojemność</th>
                <th>Cena</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Result.Items)
            {
                <tr class="tr">
                    <td>@item.Producer</td>
                    <td>@item.Name</td>
                    <td>@item.ContentQuantity</td>
                    <td>@GlobalHelpers.ParsePriceWithCurrency(item.Price.ToString(), "zł")</td>
                    <td><a href="@Url.Action("GetMedicine", "Home", new {item.Id})">Podgląd</a></td>
                </tr>
            }
            <tr>
                <td/>
                <td/>
                <td/>
                <td/>
                <td><a class="new" href="@Url.Action("AddMedicine")"><h3>Dodaj</h3></a></td>
            </tr>
        </table>
    }
    else
    {
        <h1 class="display-4">Wystąpił błąd</h1>
        foreach (var error in Model.Errors)
        {
            <div>@error.Message</div>
        }
    }
</div>
<link rel="stylesheet" type="text/css" href="~/css/custom.css">